* {
    margin: 0;
    padding: 0;
}

.background-image {
    background-image: url('images/handdrawn-style-blue-cute-education-math-lovely-powerpoint-background_a698b5341c__960_540.avif');
    background-size: cover;
    background-repeat: no-repeat;
    /*width: 100vh;*/
    height: 100vh;
}

#title {
    color:palegoldenrod;
    -webkit-text-stroke: 1px lightslategrey;
}

#gameButton {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #f4bfb8;
    background-color: #f28b7d;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #f07a6a;
    position: absolute;
    top: 150%;
    left: 35%;
    animation: pulse .6s infinite alternate;
}

#yesButton {
  padding: 15px 20px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  background-color: #13df20;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #0bcf18;
  position: absolute;
  top: 11%;
  left: 55%;
  animation: pulse .6s infinite alternate;
}

#noButton {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  background-color: #ff0000;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #bb0e0e;
  position: absolute;
  top: 11%;
  left: 64.5%;
  animation: pulse .6s infinite alternate;
}

#endedPlayAgain {
  padding: 15px 20px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  background-color: #13df20;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #0bcf18;
  position: absolute;
  top: 65%;
  left: 53%;
  animation: pulse .6s infinite alternate;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    
    100% {
      transform: scale(1.2);
    }
  }
#gameButton:hover {background-color: #f49b90}
#gameButton:active {
    background-color: #f6aca2;
    box-shadow: 0 5px #ee6352;
    transform: translateY(4px);
  }

#yesButton:hover {background-color: #41ff4d}
#yesButton:active {
    background-color: #41ff4d;
    box-shadow: 0 5px #41ff4d;
    transform: translateY(4px);
  }

#noButton:hover {background-color: #fe5252}
#noButton:active {
    background-color: #fe5252;
    box-shadow: 0 5px #fe5252;
    transform: translateY(4px);
  }

#endedPlayAgain:hover {background-color: #41ff4d}
#endedPlayAgain:active {
      background-color: #41ff4d;
      box-shadow: 0 5px #41ff4d;
      transform: translateY(4px);
  }

#caption, #menuPage {
    position: absolute;
    font-size: 40px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

nav button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #f6aca2;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;
}

body {
  min-height: 100vh;
  font-weight: 300;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-color: #eff8e2;
}

#content {
  display: flex;
  align-content: center;
  justify-content: center;
}

#text-shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
  9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  animation: shadows 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

#gameEndText {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: #f49b90;
  font-size: 4vw; /* Adjust the value as needed */
  position: absolute;
  transform: translate(-50%, -50%);
  top: 25%;
  left: 60%;
}

#problemsText {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: #f49b90;
  font-size: 3vw; /* Adjust the value as needed */
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 60.5%;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    transform: translate(-3px, -3px);
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    transform: translate(-6px, -6px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    transform: translate(-9px, -9px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    transform: translate(-12px, -12px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    transform: translate(-12px, -12px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

#divisorSymbol {
    transform: translate(-50%, -50%);
    align-content: center;
    position: absolute;
    top: 49%;
    left: 53%;
    max-width: 55%;
    max-height: 75%;
}

#downArrow {
  transform: translate(-50%, -50%);
  align-content: center;
  position: absolute;
  top: 47.5%;
  left: 51.65%;
  max-width: 10%;
  max-height: 12%;
}

#gameTitle {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#dividend {
  font-family: 'Courier New', Courier, monospace;
  font-size: 4vw; /* Adjust the value as needed */
  font-weight: bold;
  letter-spacing: 0.6vw; /* Adjust the value as needed */
  position: absolute;
  top: 36%;
  left: 44%; /* Adjust the value as needed */

}




#divisor,
#quotient {
    font-family: 'Courier New', Courier, monospace;
    color: #f49b90;
    font-size: 4vw; /* Adjust the value as needed */
    font-weight: bold;
    letter-spacing: 0.6vw; /* Adjust the value as needed */
    position: absolute;

}

#subtractor, #subtractorans, #bringdown {
    font-weight: bold;
    letter-spacing: 0.6vw;
}

#dividend {
    text-align: left;
    top: 36%;
    left: 44%; /* Adjust the value as needed */
}

#divisor {
    top: 36%;
    left: 33%; /* Adjust the value as needed */
}

#quotient {
    white-space: pre-wrap;
    text-align: left;
    top: 26%; /* Adjust the value as needed */
    left: 43.5%;
}

#suggestions {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #f49b90;
    font-size: 3vw; /* Adjust the value as needed */
    position: absolute;
    top: 40.5%;
    left: 80%; /* Adjust the value as needed */
    transform: translate(-50%, -50%);
}

.highlight {
    font-weight: bold;
    color: #f07a6a;
}

#textInput, #iscorrect, #subtractor, #subtractorans, #bringdown {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #f49b90;
    font-size: 4vw; /* Adjust the value as needed */
    position: absolute;
    transform: translate(-50%, -50%);
}

#iscorrect {
    top: 10%;
    left: 60%;
}

#playagain {
  top: 6%;
  left: 63%;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #f49b90;
    font-size: 2vw; /* Adjust the value as needed */
    position: absolute;
    transform: translate(-50%, -50%);
}

#textInput {
    top: 70%;
    left: 80%; /* Adjust the value as needed */
    width: 7vw; /* Adjust the value as needed */
    height: 7vw; /* Adjust the value as needed */
    padding: 0.5vw; /* Adjust the value as needed */
    border: 1px solid lightblue;
    border-radius: 4px;
}

#buttons {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 75%;
    width: 10vw;
    height: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

button {
    padding: 15px 15px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #f4bfb8;
    background-color: #f28b7d;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #f07a6a;
    transition: box-shadow 0.3s;
    margin-bottom: 20px;
    font-weight: bold;
}
#q1
{
  padding: 15px 15px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
  font-weight: bold;
  background-color: #4CAF50;
  box-shadow: 0 9px #3d8f3d;
  background-color: #4CAF50;
  color: black;
}
#q1:hover
{
  box-shadow: 0 12px #5cbf5c;
}
#q1:active
{
  box-shadow: 0 6px #5cbf5c;
}

#q2
{
  padding: 15px 15px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
  font-weight: bold;
  background-color: #2196F3;
  box-shadow: 0 9px #1c7ed6;
  background-color: #2196F3;
  color: black;
}
#q2:hover
{
  box-shadow: 0 12px #4aa3e6;
}
#q2:active
{
  box-shadow: 0 6px #4aa3e6;
}

#q3
{
  padding: 15px 15px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
  font-weight: bold;
  background-color: #f44336;
  box-shadow: 0 9px #d32f2f;
  background-color: #f44336;
  color: black;
}
#q3:hover
{
  box-shadow: 0 12px #f0625a;
}
#q3:active
{
  box-shadow: 0 6px #f0625a;
}

#q4{
  padding: 15px 15px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
  font-weight: bold;
  background-color: #9c27b0; /* updated color */
  box-shadow: 0 9px #7b1fa2; /* updated color */
  color: black;
}
#q4:hover
{
  box-shadow: 0 12px #b085c4; /* updated color */
}
#q4:active
{
  box-shadow: 0 6px #b085c4; /* updated color */
}


#q5
{
  padding: 15px 15px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
  font-weight: bold;
  background-color: #FF9800; /* new color */
  box-shadow: 0 9px #d17d00; /* updated color */
  color: black;
}
#q5:hover
{
  box-shadow: 0 12px #ffb300; /* new color */
}
#q5:active
{
  box-shadow: 0 6px #ffb300; /* new color */
}






.text {
    font-family: 'Courier New', Courier, monospace;
    color: #f49b90;
    font-size: 4vw; /* Adjust the value as needed */
    position: absolute;
    font-weight: bold;
    letter-spacing: 0.6vw;
}

#minus_sign {
    position: absolute;
    top: 50%;
    left: 44%;
    color: #f07a6a;
}

#answer {
    text-align: left;
    white-space: pre-wrap;
    top: 45%;
    left: 41%;
}
