:root {
	/*grid-cell-size defined in styles.css*/
	--origin-x: calc(3*var(--grid-cell-size));
	/* origin is based on the position of the division symbol */
	--origin-y: calc(4*var(--grid-cell-size));
	/* origin is based on the position of the division symbol */

	--division-symbol-thickness: calc(var(--grid-cell-size)/6.25);

	--operation-symbol-element-color: #f2a0a0;
	--prompt-container-color: rgb(103, 175, 195);
}


.division-symbol-vertical-bar {
	--rect-height: var(--grid-cell-size);
	--rect-width: var(--division-symbol-thickness);

	position: absolute;
	top: calc(var(--origin-y) - (var(--rect-width)/2));
	left: calc(var(--origin-x) - (var(--rect-width) / 2));
	height: calc(var(--rect-height) + (var(--rect-width)/2) + 1px);
	width: var(--rect-width);
	background-color: var(--operation-symbol-element-color);
}

.division-symbol-horizontal-bar {
	--rect-height: var(--division-symbol-thickness);
	--rect-width: calc(4*var(--grid-cell-size));

	position: absolute;
	top: calc(var(--origin-y) - (var(--rect-height)/2));
	left: calc(var(--origin-x) + var(--grid-offset));
	height: var(--rect-height);
	width: var(--rect-width);
	background-color: var(--operation-symbol-element-color);
}

.digit {
	height: var(--grid-cell-size);
	width: var(--grid-cell-size);

	position: absolute;
	/* border-style:solid; */
	text-align: center;
	font-size: calc(var(--grid-cell-size) - 10px);
	font-family: "courier";
}

.digit.ones-place {
	color: #9bd0c3;
}

.digit.tens-place {
	color: #99bfd4;
}

.digit.hundreds-place {
	color: #a9a3cf;
}

.digit.thousands-place {
	color: rgb(250, 211, 162);
}

.digit.remainder {
	color: rgb(249, 170, 152);
}

.prompt-container {
	display: flex;
	align-items: center;
	position: absolute;
	top: 0px;
	left: 0px;
	height: calc(var(--grid-cell-size) * 2 + var(--grid-offset));
	width: 100%;
	background-color: var(--prompt-container-color);
	z-index: 2;
}


.prompt {
	--side-margin: var(--grid-cell-size);
	position: absolute;
	text-align: center;
	/* border-style:solid; */
	font-size: calc(var(--grid-cell-size)/1.7);
	font-family: "courier";
	color: #eff8e2;
	left: var(--grid-cell-size);
	width: calc(100% - var(--side-margin)*2);
	/* height:calc(var(--side-margin)*2); */
	height: auto;
	/* text-overflow:wrap; */
}

.responseBox {
	display: none;
	height: var(--grid-cell-size);
	width: var(--grid-cell-size);
	position: absolute;
	z-index: 0;
	border: solid;
}

.responseText {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	font-size: calc(var(--grid-cell-size) - 10px);
	font-family: "courier";
	text-align: center;
	/* text-align:right; */
	/* margin-left: px; */
	/* text-indent: 8px; */
	/* margin-left: calc(1 - (var(--grid-cell-size)/2)); */
	/* text-indent: calc(1 - (var(--grid-cell-size)/4)); */
	/* letter-spacing:calc(var(--grid-cell-size)/2); */
}

.subtraction-symbol-container {
	height: var(--grid-cell-size);
	width: var(--grid-cell-size);

	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
}

.subtraction-symbol {
	--rect-height: calc(0.8*var(--division-symbol-thickness));
	--rect-width: calc(0.5*var(--grid-cell-size));

	position: absolute;
	/* top: calc((1.5*var(--grid-cell-size)) + var(--origin-y));
	left: calc(var(--origin-x) - (0.75*var(--grid-cell-size)) + var(--grid-offset)); */
	height: var(--rect-height);
	width: var(--rect-width);
	background-color: var(--operation-symbol-element-color);
}

.subtraction-bar {
	--rect-height: var(--division-symbol-thickness);
	/* --rect-width: calc(4*var(--grid-cell-size)); */

	display: block;
	position: absolute;
	top: calc((2*var(--grid-cell-size)) + var(--origin-y));
	left: calc(var(--origin-x) + var(--grid-offset));
	height: var(--rect-height);
	/* width:var(--rect-width); */
	background-color: var(--operation-symbol-element-color);
}

.button-container-wrapper {
	--button-wrapper-width: calc(4 * (var(--grid-cell-size) + var(--grid-offset)));

	display: block;
	position: absolute;

	--x: calc(9 * var(--grid-cell-size) + var(--grid-offset));
	--y: calc(var(--grid-cell-size) * 2 + var(--grid-offset));
	/* top: var(--y); */
	top: 0;
	left: var(--x);
	z-index: 1;
	/* min-height: calc(100% - var(--y)); */
	height: 100%;
	width: var(--button-wrapper-width);
	background-color: #eff8e2;

}

.button-container-wrapper .button-container {

	--num-buttons: 6;

	--btn-padding: calc(var(--grid-cell-size)/3);
	--btn-shadow-height: calc(var(--grid-cell-size)/7);
	--btn-shadow-height-hover: calc(var(--grid-cell-size)/6);
	--btn-shadow-height-active: calc(var(--grid-cell-size)/8);
	;

	--button-spacing: calc(var(--grid-cell-size)/3.5);

	top: calc(var(--y) + var(--button-spacing));
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #eff8e2;

	width: 100%;
	height: calc(95% - var(--y));

}

.button-container-wrapper .button-container button {
	flex: 1;
	margin-bottom: var(--button-spacing);
	width: calc(2.8 * var(--grid-cell-size));
	/* padding: var(--btn-padding) var(--btn-padding) var(--btn-padding) var(--btn-padding); */
	font-size: calc(var(--grid-cell-size)/4);
	text-align: center;
	cursor: pointer;
	outline: none;
	border-radius: 15px;
	transition: box-shadow 0.3s;
	font-weight: bold;
	font-family: 'Helvetica';
	color: black;
}

.button-container button:disabled {
	background-color: #878987;
	box-shadow: 0 var(--btn-shadow-height) #6c6c6c;
	border: solid;
	border-color: #383838;
}

#divideBtn {
	/* background-color: #4CAF50;
  box-shadow: 0 var(--btn-shadow-height) #3d8f3d; */
	background-color: #90ee95;
	box-shadow: 0 var(--btn-shadow-height) #75d28c;
	border: solid;
	border-color: #54a368;
}

#divideBtn:hover {
	box-shadow: 0 var(--btn-shadow-height-hover) #67c77f;
}

#divideBtn:active {
	box-shadow: 0 var(--btn-shadow-height-active) #67c77f;
}

#multiplyBtn {
	background-color: #b1d7ec;
	box-shadow: 0 var(--btn-shadow-height) #87b4cc;

	border: solid;
	border-color: #6d95ab;
}

#multiplyBtn:hover {
	box-shadow: 0 var(--btn-shadow-height-hover) #87b4cc;
}

#multiplyBtn:active {
	box-shadow: 0 var(--btn-shadow-height-active) #87b4cc;
}

#subtractBtn {
	background-color: #FFADAD;
	box-shadow: 0 var(--btn-shadow-height) #e78585;
	border: solid;
	border-color: #c97d7d;
}

#subtractBtn:hover {
	box-shadow: 0 var(--btn-shadow-height-hover) #e68f8f;
}

#subtractBtn:active {
	box-shadow: 0 var(--btn-shadow-height-active) #e68f8f;
}

#bringDownBtn {
	background-color: #dac1f4;
	/* updated color */
	box-shadow: 0 var(--btn-shadow-height) #c09de4;
	/* updated color */

	border: solid;
	border-color: #9e7ac2;
}

#bringDownBtn:hover {
	box-shadow: 0 var(--btn-shadow-height-hover) #b58ddd;
	/* updated color */
}

#bringDownBtn:active {
	box-shadow: 0 var(--btn-shadow-height-active) #b58ddd;
	/* updated color */
}

#repeatBtn {
	background-color: #f9c88b;
	/* new color */
	box-shadow: 0 var(--btn-shadow-height) #f3b467;
	/* updated color */

	border: solid;
	border-color: #d29244;
}

#repeatBtn:hover {
	box-shadow: 0 var(--btn-shadow-height-hover) #f0b266;
	/* new color */
}

#repeatBtn:active {
	box-shadow: 0 var(--btn-shadow-height-active) #f0b266;
	/* new color */
}

#remainderBtn {
	background-color: #f5f8a8;
	/* new color */
	box-shadow: 0 var(--btn-shadow-height) #e6e987;
	/* updated color */

	border: solid;
	border-color: #c4c766;
}

#remainderBtn:hover {
	box-shadow: 0 var(--btn-shadow-height-hover) #d6d97a;
	/* new color */
}

#reBtn:active {
	box-shadow: 0 var(--btn-shadow-height-active) #d6d97a;
	/* new color */
}

/* .bring-down-arrow- {
	height: calc(0.3*var(--grid-cell-size));
	width:	calc(0.3*var(--grid-cell-size));
	position:absolute;
	top: calc(7*var(--grid-cell-size));;
	left: calc(7*var(--grid-cell-size));;

	border: solid var(--operation-symbol-element-color);
	border-width: 0 6px 6px 0;
	display: block;
	padding: 3px;
	transform: rotate(20deg); */
/* -webkit-transform: rotate(45deg);
  } */


.bring-down-arrow-head-left {
	display: none;
	position: absolute;
	background-color: var(--operation-symbol-element-color);

	--arrow-head-height: calc(0.3*var(--grid-cell-size));
	--arrow-head-width: calc(0.08*var(--grid-cell-size));

	height: var(--arrow-head-height);
	width: var(--arrow-head-width);
	/* top: calc(7.6*var(--grid-cell-size));
	left: calc(7.5*var(--grid-cell-size) - (var(--arrow-head-width)) - var(--arrow-head-width)/2 - var(--grid-offset)); */
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.bring-down-arrow-head-right {
	display: none;
	position: absolute;
	background-color: var(--operation-symbol-element-color);


	--arrow-head-height: calc(0.3*var(--grid-cell-size));
	--arrow-head-width: calc(0.08*var(--grid-cell-size));

	height: var(--arrow-head-height);
	width: var(--arrow-head-width);

	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	/* left: calc(5.5*var(--grid-cell-size) + (var(--arrow-head-width)) - var(--arrow-head-width)/2 - var(--grid-offset)); */
}

.bring-down-arrow-tail {
	display: none;
	position: absolute;
	background-color: var(--operation-symbol-element-color);

	--arrow-tail-height: calc(0.6*var(--grid-cell-size));
	--arrow-tail-width: calc(0.08*var(--grid-cell-size));

	height: var(--arrow-tail-height);
	width: var(--arrow-tail-width);
	/* top: calc(7.2*var(--grid-cell-size));
	left: calc(7.5*var(--grid-cell-size) - var(--arrow-tail-width)/2 - var(--grid-offset)); */

}

.final-answer-container-wrapper {
	--button-wrapper-width: calc(4 * (var(--grid-cell-size) + var(--grid-offset)));

	display: none;
	position: absolute;

	--x: calc(9 * var(--grid-cell-size) + var(--grid-offset));
	--y: calc(var(--grid-cell-size) * 2 + var(--grid-offset));
	/* top: var(--y); */
	top: 0;
	left: var(--x);
	z-index: 1;
	/* min-height: calc(100% - var(--y)); */
	height: 100%;
	width: var(--button-wrapper-width);
	background-color: #eff8e2;


}

.final-answer-container-wrapper .final-answer-container {
	--num-buttons: 6;

	--btn-padding: calc(var(--grid-cell-size)/3);
	--btn-shadow-height: calc(var(--grid-cell-size)/7);
	--btn-shadow-height-hover: calc(var(--grid-cell-size)/6);
	--btn-shadow-height-active: calc(var(--grid-cell-size)/8);
	;

	--button-spacing: calc(var(--grid-cell-size)/3.5);

	top: calc(var(--y) + var(--button-spacing));
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	background-color: #eff8e2;
	/* gap: calc(var(--grid-cell-size)/2.2); */
	width: 100%;
	height: calc(95% - var(--y));
}

.final-answer-container-wrapper .final-answer-container button {
	flex: 1;
	margin-bottom: var(--button-spacing);
	width: calc(2.8 * var(--grid-cell-size));
	font-size: calc(var(--grid-cell-size)/4);
	text-align: center;
	cursor: pointer;
	outline: none;
	border-radius: 15px;
	transition: box-shadow 0.3s;
	font-weight: bold;
	font-family: 'Helvetica';
	color: black;
}

#playAgainBtn {
	align-self: center;
	margin-top: calc(0.8 * var(--grid-cell-size));
	width: calc(2.8 * var(--grid-cell-size));
	max-height: var(--grid-cell-size);
	background-color: #FFADAD;
	box-shadow: 0 var(--btn-shadow-height) #e78585;
	border: solid;
	border-color: #c97d7d;
}

#playAgainBtn:hover {
	box-shadow: 0 var(--btn-shadow-height-hover) #e68f8f;
}

#playAgainBtn:active {
	box-shadow: 0 var(--btn-shadow-height-active) #e68f8f;
}

.final-answer-container button:disabled {
	background-color: #878987;
	box-shadow: 0 var(--btn-shadow-height) #6c6c6c;
	border: solid;
	border-color: #383838;
}

.final-answer-container-wrapper .final-answer-container .header {
	font-family: 'Courier';
	text-decoration: underline;
	font-size: calc(var(--grid-cell-size)/1.5);
	color: var(--operation-symbol-element-color);
	align-self: center;
	margin-bottom: calc(var(--grid-cell-size)/2.2);
}

.final-answer-container-wrapper .final-answer-container .text {
	font-family: 'Courier';
	font-size: calc(var(--grid-cell-size)/1.6);
	color: rgb(154, 197, 209);
}

.final-answer-container-wrapper .final-answer-container .text-wrapper {
	display: flex;
	flex-direction: row;
	gap: calc(var(--grid-cell-size)/6);
	margin-right: calc(var(--grid-cell-size)/1.5);
}

.equation-bar {
	height: calc(var(--grid-cell-size)/20);
	width: 70%;
	background-color: rgb(154, 197, 209);
	margin-right: calc(var(--grid-cell-size)/1.5);
}

#answerElement {
	color: rgb(103, 175, 195);
}